@charset "utf-8";

/* Genral 
========================================================================================*/
* { margin:0; padding:0; }

.clearfix:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		
* html .clearfix { height:1%; }
.clearfix { display:block; }
.clear { clear:both; }

.alingLeft { float:left; }
.alingRight { float:right; }
.center { text-align:center; }

:focus { outline:none;}
img { vertical-align:top; border:0; }
p { padding:0 0 15px 0;  }
.textContainer p { padding:0 0 10px 0; }
.nopad p, p.nopad { padding:0; }
a { color:#1c8bd4; text-decoration:none; font-family: arial, tahoma, sans-serif, serif; }
a:hover { text-decoration:underline; }

h1,h2,h3 { font-size:20px; color:#131313; font-weight:normal; line-height:normal; font-family: Verdana, arial, tahoma, sans-serif, serif; }
h1 { font-size:24px; }
h3 { font-size:18px; color:#666; font-weight:normal; line-height:normal; }
h4 { color:#000; line-height:normal; font-weight:normal; font-size:16px; font-family: Verdana, arial, tahoma, sans-serif, serif; margin-bottom:10px;  }

ul,li,ol { list-style-type:none; padding:0; margin:0; }

.fl { float:left; }
.fr { float:right; }

/* END Genral 
========================================================================================*/

/* Font-face
========================================================================================*/
/*
@font-face {
    font-family: 'MetrophobicRegular';
    src: url('fonts/metrophobic-webfont.eot');
    src: url('fonts/metrophobic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metrophobic-webfont.woff') format('woff'),
         url('fonts/metrophobic-webfont.ttf') format('truetype'),
         url('fonts/metrophobic-webfont.svg#MetrophobicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/* End Font-face
========================================================================================*/

/* Common
========================================================================================*/
html { background:#fff url(../images/bg.gif) repeat; padding:0; margin:0; }
body { font:14px/20px arial, tahoma, sans-serif, serif; color:#4a474e; padding:0; margin:0; }
.wrap { width:960px; margin:0 auto; }
#wrapper { position:relative; }


/* Header
-----------------*/
#header { height:99px; position:relative; }

.top-left { float:left; }
a#logo { height:44px; float:left; margin:20px 0; }
.slogan { float:left; font-size:18px; color:#636363; font-family:Verdana, Arial, Helvetica, sans-serif; display:block; padding:33px 0 0 0; margin-left:28px; }

.top-right { float:right; }

ul.top-menu { float:right; clear:both; margin:10px; }
ul.top-menu li { float:left; margin:0 0px; border-right: 1px solid #DDD; }
ul.top-menu li a { text-decoration:none; color:#4471bb; padding:0 5px; }
ul.top-menu li a:hover, ul.top-menu li.active a { text-decoration:none; color:#494949; }
ul.top-menu li.last { border-right: none;}
ul.top-menu li.last a { padding-right: 0px; }

#header ul.links li { padding-left: 0px; padding-right: 0px; }

#search { float:right; clear:both; position:relative; width:290px; display:inline; }
#search label { display: none; }
#search .form-text { background:url(../images/search-box.png) no-repeat; width:161px; color:#666; height:31px; padding:0 15px 0 15px; border:0; float:left; display:inline; }
#search .form-submit { background:url(../images/but-search.png) no-repeat; border:0; width:95px; height:31px; cursor:pointer; float:left; display:inline; font-size: 0px; }

/* End Header
-----------------*/

/* menu
-----------------*/

#menu { background:url(../images/menu-bg.png) no-repeat; height:56px; z-index:2; position:absolute; top:85px; width:960px; }
#menu ul { padding:3px 0 3px 54px; font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; }
#menu li { float:left; background:url(../images/menu-pipe.png) no-repeat 0 0; line-height:48px; padding-left:2px; }
#menu li:first-child { background:none; }
#menu li a { text-decoration:none; color:#000000; padding:0 14px; display:block; }
#menu li:first-child a { padding-left:16px; }
#menu li a:hover, #menu li.active a { background:url(../images/menu-h.png) repeat-x; text-decoration:none; color:#355fa6; }

/* End menu
-----------------*/

/* header-graphics
-----------------*/

#header-graphics { background:url(../images/geader-graphics-bg.gif) repeat-x; height:492px; }
#header-graphics .wrap { width:968px; margin:0 auto; }

/* slider
-----------------*/

.slider { padding-top:55px; }

.kwicks { list-style: none; position: relative;  padding: 0; }
.kwicks li { width:247px; height:415px; overflow:hidden; display:block; background:url(../images/slide-bg.png) no-repeat; margin:0; padding:0; }
.kwicks li .pad { padding:11px; }
.kwicks .bottom-content { height:70px; overflow:hidden; }
.kwicks .bottom-content .col1 { background: url(../images/slider-devider.png) no-repeat 100% 50%; width:240px; float:left; }
.kwicks .bottom-content .col2 { float:right; width:505px; padding-top:10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; }
.kwicks .bottom-content h3 { margin:0; padding:5px 0 0 0; color:#49474b; font-size:22px; text-shadow:0 1px 0 #fff; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:center; }
#kwick_1 .bottom-content h3 span { color:#986400; } 
#kwick_2 .bottom-content h3 span { color:#4471bb; }
#kwick_3 .bottom-content h3 span { color:#3e7523; }
#kwick_4 .bottom-content h3 span { color:#9d3636; }

/* End slider
-----------------*/


/* End header-graphics
------------------*/

#main { }
#main .wrap { width:938px;  background:url(../images/main-bg.png) repeat-y; padding:15px; }

.full-page #content { width:100%; }

.content-top { padding:0 4px; }

#social-panel { position:fixed; top:116px; left:0; height:400px; width:46px; z-index:100; float:left; }
#social-panel li { float:left; width:46px;  margin:2px 0; }
#social-panel li a { background:url(../images/social-panel.png) no-repeat 0 0; text-indent:-9999em; text-decoration:none; display:block;  }
#social-panel li a:hover { text-decoration:none; }
#social-panel li.get-a-quote a { background-position:0 0; height:142px; }
#social-panel li.get-a-quote a:hover { background-position:-47px 0; text-decoration:none; }
#social-panel li.facebook a { background-position:0 -145px; height:64px; }
#social-panel li.facebook a:hover { background-position:-47px -145px; text-decoration:none; }
#social-panel li.twitter a { background-position:0 -212px; height:64px; }
#social-panel li.twitter a:hover { background-position:-47px -212px; text-decoration:none; }
#social-panel li.google a { background-position:0 -279px; height:64px; }
#social-panel li.google a:hover { background-position:-47px -279px; text-decoration:none; }
#social-panel li.feed a { background-position:0 -346px; height:64px; }
#social-panel li.feed a:hover { background-position:-47px -346px; text-decoration:none; }


/* content
-----------------*/

p.about-company { font-size:20px; color:#353337; font-weight:normal; line-height:normal; font-family: Verdana, arial, tahoma, sans-serif, serif; }

a.read-more { background:url(../images/read-more.png) no-repeat 0 0; float:right; padding-left:14px; font-size:11px; cursor:pointer; }
a.read-more span { background:url(../images/read-more.png) no-repeat 100% -24px; float:right; padding-right:27px; line-height:24px; display:block; color:#26416e; text-decoration:none; width:90px; }
a.read-more:hover { background-position:0 -48px; text-decoration:none; color:#454545; }
a.read-more:hover span {  background-position:100% -72px; text-decoration:none; color:#454545; }

div.post-bottom div.links { font-size: 11px; float: left; width: 500px; }
div.post-bottom ul.links li { padding-left: 0.3em; }
div.post-bottom ul.links a { text-decoration: underline; }

#content div.messages { margin: 10px 0px; padding: 10px; border: 1px solid #EEE; }
#content div.messages.status { color: #090; }

#content #mission { margin-bottom: 20px; padding: 20px; background-color: #EEE; font-size: 24px; font-style: italic; }

/* local tasks 
-----------------*/
#content ul.primary li a { margin-right: 0px; background-color: inherit; color: #999 }
#content ul.primary li a.active, #content ul.primary li a:hover { color: #333 }

/* services-box
-----------------*/

#services-box { margin-bottom:20px; clear:both; height:275px; }
#sidebar .module-box { width:226px; float:left; margin:0 4px 15px; display:inline; }
#sidebar .module-box .heading { background:url(../images/box-heading.png) no-repeat; height:43px; padding:0 15px; }
#sidebar .module-box .heading .block-title { line-height:43px; color:#976401; font-size:19px; }
#sidebar .module-box .content { background:url(../images/box-bg.png) repeat-y; border-bottom:1px solid #d1d1d1; padding:15px; height:100%; overflow:hidden; min-height:203px; height:auto !important; height:203px; position:relative; }
#sidebar .module-box .content p.icon { text-align:center; }

a.but { background:url(../images/service-more-but.png) no-repeat 0 0; padding-left:14px; font-size:11px; cursor:pointer;  position:absolute; bottom:15px; width:182px; }
a.but span { background:url(../images/service-more-but.png) no-repeat 100% -24px; padding-right:27px; line-height:24px; display:block; color:#fff; text-decoration:none; }
a.but.green { background-position:0 -96px; }
a.but.green span { background-position:100% -120px; }
a.but.red { background-position:0 -144px; }
a.but.red span { background-position:100% -168px; }
a.but.blue { background-position:0 -192px; }
a.but.blue span { background-position:100% -216px; }
a.but:hover { background-position:0 -48px; text-decoration:none; color:#fff; }
a.but:hover span {  background-position:100% -72px; text-decoration:none; color:#fff; }

#sidebar .module-box.greenbox .heading .block-title { color:#3e7523; }
#sidebar .module-box.redbox .heading .block-title { color:#931c1c; }
#sidebar .module-box.bluebox .heading .block-title { color:#2754a0; }
#sidebar .module-box.orangebox .heading .block-title { color:#976401; }
p.testimonials { background:url(../images/quote.png) no-repeat; padding-left:13px; }
p.testimonials .author { display:block; text-align:right; color:#000; font-style:italic; font-weight:bold; }

/* content-bottom
-----------------*/
#content-bottom { height:100%; overflow:hidden; }
.module-boxbottom { width:222px; float:left; margin:0 5px; display:inline; }

/* social-box
-----------------*/
#social-box { width:225px; float:right; margin:0 7px; display:inline; }
.container { width: 225px; margin: 0 auto; }
#social-box ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 29px; border-bottom: 1px solid #becfef; width: 100%; }
#social-box ul.tabs li { float: left; margin: 0; padding: 0; height: 28px; line-height: 28px; border: 1px solid #becfef; margin-bottom: -1px; overflow: hidden; position: relative; background:#dde9ff url(../images/social-tab-bg.gif) repeat-x; margin-right:5px; }
#social-box ul.tabs li a { text-decoration: none; color: #000; display: block; font-size: 15px; padding: 0 15px; border: 1px solid #dde9ff; font-family: Verdana, arial, tahoma, sans-serif, serif; outline: none; background-color: inherit; }
#social-box ul.tabs li a:hover, #social-box ul.tabs li.active a { background:#dde9ff url(../images/social-tab-bg.gif) repeat-x; color:#4169ad; }
#social-box ul.tabs li.active, #social-box ul.tabs li.active a:hover { background:#dde9ff url(../images/social-tab-bg.gif) repeat-x; border-bottom: 1px solid #dde9ff; }
.tab_container { border: 1px solid #becfef; border-top: none; clear: both; float: left; width: 100%; background: #dde9ff; }
.tab_content { padding:13px; font-size: 14px; min-height:150px; height:auto !important; height:150px; }
.tab_content h2 { font-weight: normal; padding-bottom: 10px; border-bottom: 1px dashed #ddd; font-size: 1.8em; }
.tab_content h3 a {	color: #254588; }
.tab_content img { float: left; margin: 0 20px 20px 0; border: 1px solid #ddd; padding: 5px; }
.tab_content span.time { float:left; width:130px; font-style:italic; color:#000; font-weight:bold; font-size:13px; }

.nav-arrow { float:right; width:56px; }
.nav-arrow img { border:0; margin:0; padding:0; }

/* End:social-box
-----------------*/

.module-boxbottom .block-title { background:url(../images/dotted-line.png) repeat-x 0 100%; padding-bottom:5px; margin-bottom:10px; }

#sidebar ul.listing li { list-style-type:none; list-style-image:none; background:url(../images/arrow-dotted.png) no-repeat 0 8px; padding-left:10px; padding-top: 0px; }
#sidebar ul.listing li a { text-decoration:none; color:#2754a0; padding:2px 0; display:block; }
#sidebar ul.listing li a:hover { text-decoration:none; color:#414141; }

.block ul { padding-left: 0px; }
ul.menu li { margin-left: 0px; }

/* End content
-----------------*/

/* innerpage
========================================================================================*/

.inner-page {}
#content { float:left; width:685px; }
#sidebar { float:right; width:226px; }
.inner-page .module-box { margin:0 0 15px 0; }
.inner-page .module-box .content { padding:10px 15px; min-height:inherit; }

.cloud-box .content { border-top:1px solid #d1d1d1; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px; }
.cloud-box .f26 { font-size:26px; }
.cloud-box .f20 { font-size:20px; }
.cloud-box .f22 { font-size:22px; }
.cloud-box .f18 { font-size:18px; }
.cloud-box .f12 { font-size:12px; }

/******* Start:post *******/

#content ul.primary {margin-left: 0px; margin-right: 0px; }

.post { background:url(../images/post-divider.png) no-repeat 0 100%; margin-bottom:20px; padding-bottom:20px; }
.post .post-heading { padding-bottom:15px; line-height:normal; font-size:24px;  }
.post .post-heading a { color:#2754a0; text-decoration:none; font-family:Verdana, Arial, Helvetica, sans-serif; }
.post .post-heading a:hover { color:#000; text-decoration:none; }
.post .post-by { font-size:11px; background:url(../images/dotted-line.png) repeat-x 0 100%; padding-bottom:3px; }
.post .post-by li { float:left; margin-right:30px; }
.post .post-by li a { color:#353535; text-decoration:none; }
.post .post-by li a:hover { color:#2754a0; text-decoration:none; }
.post .post-by li.category a { background: url(../images/category.png) no-repeat 0 3px; padding-left:15px; }
.post .post-by li span.date { color:#828282; }
.post a.comment_count { background: url(../images/comment.png) no-repeat; text-align:center; font-size:12px; width:33px; height:27px; padding-top:1px; float:right; display:block; color:#000; }
.post a.comment_count:hover { text-decoration:none; color:#2754a0; }

.post-content { padding:15px 0; background:url(../images/dotted-line.png) repeat-x 0 100%; }
.post-content .col1 { float:left; margin-right:15px; width:242px; }
.post-content .col2 { float:left; width:425px; }
.post-bottom { padding-top:10px; padding-bottom: 4px;}
.post-bottom .post-tags { float:left; background:url(../images/tags.png) no-repeat 0 3px; width:500px; font-size:11px; color:#828282; padding-left:20px; }
.post-bottom .post-tags a { color:#353535; text-decoration:none; }
.post-bottom .post-tags a:hover { color:#2754a0; text-decoration:none; }



/******* End:post *******/

/***Start:article-detail****/
.post-detail .post-bottom  { padding-bottom:5px; }
.post-detail .post-tags { width:300px; }
.post-detail .post-share { float:right; width:358px; text-align:right; }

#related-article { margin-bottom:20px; font-size:12px; }
#related-article h3 { color:#990000; border-bottom:1px solid #dedede; margin-bottom:15px; }
#related-article h4 { color:#2754a0; font-size:14px; margin-bottom:5px; }
#related-article li { margin-bottom:10px; }
#related-article li img { float:left; margin:0 17px 20px 0; }
#related-article li a { text-decoration:underline; }
#related-article li a:hover { text-decoration:none; }

#comments, .comment { margin-bottom:20px; font-size:12px; }
.comment { border-bottom: 1px solid #DDD; margin-top: 10px; margin-bottom: 0px; }
#comments h2 { color:#3e7523; border-bottom:1px solid #dedede; margin-bottom:15px; }
#comments h4 { color:#2754a0; font-size:14px; margin-bottom:5px; }

#comments div.links { margin-bottom:10px; clear:both; overflow: auto; }
#comments div.links ul { float: right; clear: both; }
.comment .submitted .title { color:#2754a0; font-size:14px; font-family:Verdana, Arial, Helvetica, sans-serif; margin-right:20px; }
.comment .submitted .date { color:#a8a8a8; }
#comments ul.links li.comment_reply a { text-decoration:none; background:url(../images/reply-bg.gif) repeat-x 0 0; line-height:20px; border-left:1px solid #648553; border-right:1px solid #648553; display:block; float:right; padding:0 10px; color:#fff;  }
#comments ul.links li.comment_reply a.reply:hover { text-decoration:none; background-position:0 -20px; border-left:1px solid #6c6c6c; border-right:1px solid #6c6c6c; color:#fff; }

.comment .picture { display: block; float: left; height: 50px; margin: 3px 9px 5px 0px; overflow: hidden; }
.comment .picture img { width: 50px; }

#comments ul li ul { padding-left:52px; }
#comments ul li ul li { margin-bottom:10px; clear:both; position:relative; }

#comments .content p { padding-bottom: 5px; }

.box { background:#f5f5f5; padding:10px 15px; border:1px solid #e6e6e6; font-size:12px; overflow: auto; }
.box h2 { color:#000000; margin-bottom:10px; }

.box #comment-form label { float:left; clear: both; width: 110px; }
.box #comment-form textarea#edit-comment { width: 500px; }
.box #comment-form .resizable-textarea .grippie { margin-left: 110px; }

.box #comment-form .form-submit { background:url(../images/but-comment.gif) no-repeat; border:0; float:left; margin-right:30px; width:128px; height:34px; cursor:pointer; text-indent:-9999em;  }

/***End:article-detail****/

/************Start:pagination************/

.pagination { width:235px; margin:0 auto 20px auto; }
.pagination li { float:left; margin:0 4px; text-align:center; }
.pagination li a { background:url(../images/pagination-bg.png) no-repeat 0 -96px; width:24px; line-height:24px; color:#2369c1; display:block; }
.pagination li a:hover, .pagination li.active a { background-position:0 -120px; color:#5f5f5f; text-decoration:none; }
.pagination li.prev a { background-position: 0 0; text-indent:-9999em; }
.pagination li.prev a:hover { background-position: 0 -24px; }
.pagination li.next a { background-position: 0 -48px; text-indent:-9999em; }
.pagination li.next a:hover { background-position: 0 -72px; }

/************End:pagination************/

#inner-heading { background:url(../images/page-heading.gif) repeat-x; height:90px; padding-top:60px; }
#inner-heading #page-title { font-size:24px; color:#fff; text-shadow:0 1px 0 #000; margin-bottom:10px; line-height: 40px; }

.breadcrumb li { background:url(../images/arrow-breadcrumb.png) no-repeat 0 6px; float:left; }
.breadcrumb li:first-child, .breadcrumb li.first { background:none; }
.breadcrumb li.first a { padding-left:0; }
.breadcrumb li a, .breadcrumb li span { color:#73aeff; text-decoration:none; padding:0 15px; }
.breadcrumb li a:hover { text-decoration:underline; }
.breadcrumb li span { color:#999; text-decoration:none; padding:0 15px; }

.contact-us #content { padding:13px 3px; }
.contact-us h3 { color:#000; margin-bottom:15px; font-size:18px; padding-top:10px; }
.contact-us .col1 { float:left; width:516px; }
.contact-us .col2 { float:right; width:390px; }

.contact-us #social-box { width:384px; float:right; margin:0 7px; display:inline; }
.contact-us .container { width:384px; }
.contact-us .tab_container { margin-bottom:20px; }
.contact-us .contact-map { margin-bottom:20px; }
.contact-us .contact-map img  { border:1px solid #ccc; }
.contact-us #social-box .tab_content { min-height:120px; }

.contact-us .address a { text-decoration:underline; }
.contact-us .address a:hover { text-decoration:none; }

.form .row { clear:both; margin:5px 0; }
.form .input_label { display:block; padding-top:5px; }
.form .star { color:#FF0000; }
.form .textbox { border:0; background: url(../images/textbox.png) no-repeat; width:357px; height:13px; padding:8px 10px 12px 10px; color:#9e9e9e; }
.form .select-textbox { background: url(../images/textbox.png) no-repeat; width:377px; color:#9e9e9e; border:0; line-height:33px; height:33px; display:block; padding:7px 10px 9px 10px; }
.form .textarea { border:0; background: url(../images/text-area.png) no-repeat; width:495px; height:138px; padding:8px 10px 12px 10px; color:#9e9e9e; }
.form .devider { padding:0 20px; background:url(../images/contact-devider.png) repeat-x 0 50%; }
.form .submit { background:url(../images/contact-submit.png) no-repeat; border:0; width:98px; height:32px; cursor:pointer; }

/* End innerpage
========================================================================================*/

/* footer
========================================================================================*/
#footer { background:url(../images/footer-bg.png) repeat; }
#footer .top { background:url(../images/footer-shadow.png) repeat-x; padding:15px 0; }

#footer_1, #footer_2, #footer_3 { float:left; width:190px; background:url(../images/f-devider.png) repeat-y 100% 0; }
#footer .block-title { font-family:Verdana, Arial, Helvetica, sans-serif; text-shadow:0 1px 0 #000; font-size:20px; margin-bottom:10px; color:#fff; line-height: 28px; }
#footer_1 li, #footer_2 li { background:url(../images/arrow-footer.png) no-repeat 0 7px; padding-left:10px; }
#footer_1 li a, #footer_2 li a { text-decoration:none; color:#b6b6b6; padding:2px 0; display:block; }
#footer_1 li a:hover, #footer_1 li.active a, #footer_2 li a:hover, #footer_2 li.active a { text-decoration:none; color:#fff; }

#footer li.leaf { list-style-type: none; list-style-image: none; padding-top: 0px; }

#footer_2 { width:220px; padding:0 20px; }
#footer-message { color: #CCC; }
#footer_3 { width:240px; padding:30px 2px 30px 15px; min-height:145px; height:auto !important; }
#footer_3 a { text-decoration:none; float:left; margin-right:8px; display:block; }

body.page-contact #quick-contact { display: none; }
#quick-contact { width:230px; float:right; padding-left:20px; }
#quick-contact form { font-size: 0px; line-height: 0px; }
#quick-contact form { font-size: 0px; line-height: 0px; }
#quick-contact form .form-item { margin: 0px; font-size: 14px; line-height: 14px; }
#quick-contact .form-text { background: url(../images/footer-texbox.png) no-repeat; line-height:normal; width:214px; height:18px; color:#333; padding:5px 8px; border:0; margin-bottom:3px; }
#quick-contact #edit-message-wrapper { background: url(../images/footer-textarea.png) no-repeat; width:214px; height:62px; padding:8px; margin-bottom:7px; background-size: 100% 100%; }
#quick-contact #edit-message-wrapper textarea { font-family:Arial, Helvetica, sans-serif; font-size:14px; width:214px; height:62px; color:#333; border:0; background:none; resize:none; }
#quick-contact #edit-copy-wrapper, #quick-contact label, #quick-contact input[name="subject"], #quick-contact .grippie { display: none; }
#quick-contact .form-submit { background:url(../images/submit.png) no-repeat; width:100px; height:28px; color:#fff; float:right; border:0; margin:0; padding:0; cursor:pointer; background-size: 100% 100%; }

/* End footer
========================================================================================*/

#copyright { background:url(../images/copyright-bg.gif) repeat-x; height:39px; }
#copyright .col1 { float:left; width:650px; color:#000; font-size:12px; padding-top:10px; }
#copyright #powered-by { color:#666; font-size:12px; padding-left: 50px; }
#copyright .col2 { float:right; width:253px; }
#copyright .col1 a { text-decoration: none; color: inherit; }

#social-footer { width:145px; float:right; padding-top:9px; }
#social-footer li { background:url(../images/footer-social.png) no-repeat; width:23px; float:right; text-indent:-9999em; margin:0 3px; display:inline; }
#social-footer li a { text-decoration:none; width:23px; height:22px; display:block; }
#social-footer li.facebook { background-position:0 0; }
#social-footer li.twitter { background-position:-28px 0; }
#social-footer li.linkedin { background-position:-56px 0; }
#social-footer li.google { background-position:-84px 0; }
#social-footer li.feed { background-position:-112px 0; }

#copyright a.get-a-quote { background:url(../images/get-a-quote.png) no-repeat; text-decoration:none; margin:8px 0 0 2px; width:105px; float:right; line-height:24px; color:#fff; text-align:center; }
#copyright a.get-a-quote:hover { text-decoration:none; }
